<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <title>URL Shortening</title></head>
<body>
{% include 'header.html' %}
   <span style="color: red; ">
       {% if error_message==1%}
          There is not any registered URL for this short address!
       {% elif error_message==2%}
          There is an internal error!
       {%endif%}
   </span>
<a href ="/">Try Again</a>
{% include 'footer.html' %}
</body>
</html>